[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
check-format = "black"
check-imports = "isort  --recursive --check-only --verbose"
check-types = "mypy --pretty --ignore-missing-imports ."
test = "pytest --capture=no --verbose --cov-report xml --cov=typocase tests/"
